.monaco-list.settings-toc-tree .monaco-list-row.selected,
.monaco-list.settings-toc-tree .monaco-list-row.focused,
.monaco-list .monaco-list-row.selected,
.monaco-list.settings-toc-tree:not(.drop-target) .monaco-list-row:hover:not(.selected):not(.focused) {
    color: #FFFFF0;
    border-radius: 2px;
    border: 1px solid #1E90FF;
}

.title.show-file-icons {
    display: none !important;
}

.button-link {
    transition: 0.45s;
}

.button-link:hover {
    margin-left: 20px !important;
}

.mtk22 {
    background: linear-gradient(90deg, #ff7b72 0%, #ff9d96 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mtk15 {
    color: #FFFFF0;
    text-shadow: 0 0 1px #6A5ACD,
        0 0 2px #483D8B,
        0 0 2px #483D8B,
        0 0 3px #483D8B,
        0 0 3px #483D8B,
        0 0 3px #483D8B,
        0 0 5px #483D8B,
        0 0 5px #483D8B,
        0 0 5px #483D8B,
        0 0 7px #483D8B,
        0 0 7px #483D8B;
}
