.monaco-list.settings-toc-tree .monaco-list-row.selected,
.monaco-list.settings-toc-tree .monaco-list-row.focused,
.monaco-list .monaco-list-row.selected,
.monaco-list.settings-toc-tree:not(.drop-target) .monaco-list-row:hover:not(.selected):not(.focused) {
    color: #FFFFF0;
    border-radius: 2px;
    border: 1px solid #1E90FF;
}

.button-link {
    transition: 0.45s;
}

.button-link:hover {
    margin-left: 20px !important;
}

.mtk6 {
    color: #FFF;
    text-shadow: 0 0 1px #FA8072,
        0 0 2px #FF5C5C,
        0 0 3px #FF5C5C,
        0 0 5px #FF5A5A,
        0 0 7px #FF5050;
}

.mtk15 {
    color: #FFFFF0;
    text-shadow: 0 0 1px #6A5ACD,
        0 0 2px #483D8B,
        0 0 2px #483D8B,
        0 0 3px #483D8B,
        0 0 3px #483D8B,
        0 0 3px #483D8B,
        0 0 5px #483D8B,
        0 0 5px #483D8B,
        0 0 5px #483D8B,
        0 0 7px #483D8B,
        0 0 7px #483D8B;
}
