/* ========================================
 * Chat Input Customization
 * ======================================== */

/* #workbench\.panel\.chat>div>div>div.monaco-scrollable-element.mac>div.split-view-container>div>div>div.pane-body.chat-viewpane.chat-view-welcome-enabled>div.chat-controls-container>div.interactive-session>div.interactive-input-part>div.interactive-input-and-side-toolbar>div {
    padding: 5px 10px !important;
    border-radius: 10px !important;
    background-color: transparent !important;
    border: 1px solid rgba(255, 255, 255, 0.5) !important;
    box-shadow:
        0 0 3px 0 rgba(255, 255, 255, 0.3),
        0 0 8px 1px rgba(255, 255, 255, 0.1),
        inset 0 0 4px rgba(255, 255, 255, 0.05) !important;
}

.interactive-input-part .monaco-editor,
.interactive-input-part .monaco-editor-background {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    background-color: transparent !important;
}

#workbench\.panel\.chat>div>div>div.monaco-scrollable-element.mac>div.split-view-container>div>div>div.pane-body.chat-viewpane.chat-view-welcome-enabled>div.chat-controls-container>div.interactive-session>div.interactive-input-part>div.chat-editing-session>div {
    border: none !important;
    margin-bottom: 5px !important;
}

#workbench\.panel\.chat > div > div > div.monaco-scrollable-element.mac > div.split-view-container > div > div > div.pane-body.chat-viewpane.chat-view-welcome-enabled > div.chat-controls-container > div.interactive-session > div.chat-welcome-view-container > div {
    display: none !important;
}

#workbench\.panel\.chat .monaco-list-row:hover {
    background-color: transparent !important;
}
 */

/* Chat icon pane */
#workbench\.parts\.titlebar > div > div.titlebar-right > div > div > div > ul > li > div > div > a {
    display: none !important;
}
